ServerAliveInterval 10
VerifyHostKeyDNS yes
VisualHostKey yes

Host github.com
    IdentityFile /link/to/id_github

Host localAlias
    HostName hostIpOrDomain
    User loginUsername
    IdentityFile link/to/id_file
