# Ignore Everything
*

# Except these Files
!/.gitignore
!/.gitconfig
!/.bashrc
!/.bash_aliases
!/.vimrc
!/.i3status.conf

!/.i3/config
!/.ssh/config.tmpl

# ...even if there are in subdirectories
!*/
